<div class='breed-card'>
  <div class='thumb'>
    <img src='{{url}}' alt='{{name}}' />
  </div>
  {{#each breeds}}
    <ul class='breed-info'>
      <li class='breed-info__item'><p class='name'><b>{{name}}</b></p></li>
      <li class='breed-info__item'><p class='description'>
          {{description}}</p></li>
      <li class='breed-info__item'><p class='temperament'>Temperament:
          {{temperament}}</p></li>
    </ul>
  {{/each}}
</div>